// Place all the styles related to the throws controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
	font-family: palatino;
	text-align: center;
	font: 1.5em;
}

.navbar-inner a{
	text-decoration: none;
	font-family: impact;

}

